:root {
    --amarelo: #f3c61f;
    --purple: #514988;
}

* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 118px;
    background-color: var(--amarelo);
    color: #000;
}

header img{
    margin: 27px 0 0 58px;
    font-size: 2rem;
}


main {
    display: grid;
    grid-auto-flow: column;
}

main #informacao{
    background-color: var(--purple);
    color: #fff;
    text-align: center;
    width: 50vw;
}

main #informacao h1{
    margin: 5%;
    color: var(--amarelo);
    font-size: 4em;
}

main #informacao h2{
    font-size: 1.53em;
}

main #informacao p{
    font-size: 1.3em;
    margin: 5% ;
}

main video{
    width: 100%;
}

.timerMargem {
    color: var(--purple);
    font-size: 1.7em;
    font-weight: bold;
    margin: 3% 0 0 3%;
}

#txtVideo{
    color: #E33881;
    font-family: 4em;
    margin: 2%;
    font-weight: bolder;
}

main div{
    display: flex;
    flex-direction: column;
}

#timer{
    display: grid;
    grid-auto-flow: column;
}

footer {
    display: flex;
}

.cardSize{
    width: 204px
}

footer h2 {
    font-size: 1.3rem;
    color: var(--amarelo);
    margin: 3% 0 0 3%;
}

footer #cards {
    width: 50%;
    display: grid;
    grid-auto-flow: column;
}

footer #botao {
    border:0;
    width: 50%;
    align-items: center;
}

button {
    width: 40%;
    height: 20%;
    margin: 15% 0 0 15%;
    border-radius: 10px;
    border: 0;
    font-size: 2.625;
    color: #fff;
    background-color: var(--purple);
    font-weight: bold;
}

button:hover {
    
    cursor: pointer;
    color: var(--amarelo);
}

.cardHighlight{
    box-shadow: 10px 10px 10px 5px #808080;
    padding: 2.3%;
    transition: 0.5s;
}

#cards{
    margin: 30px;
}

.cardSelected{
    border: 5px solid #03b30cd0;
}